#container {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;

  background-color:#e3ded7;
  @include border-top-left-radius(5px);
  @include box-sizing(border-box);
  @include box-shadow(-3px 0 5px rgba(0,0,0,0.6));

  #container-header {
    height:43px;
    border-top:1px solid #65c3e2;
    border-bottom:1px solid #0369a2;
    @include background-image(linear-gradient(#23a8d4, #1380b8));
    @include border-top-left-radius(5px);
  }
}