#container {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#e4e1dd;
  @include border-top-left-radius(5px);
  @include box-sizing(border-box);
  @include box-shadow(-3px 0 5px rgba(0,0,0,0.6));
  background-image: url(../images/omci/pattern/noise.png);
  @include translate3d(0,0,0);
  

  
}


  

  .badges-container {
    -webkit-transform: translateX(100%);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    .container-header {
      height:43px;
      border-top:1px solid #65c3e2;
      border-bottom:1px solid #0369a2;
      @include background-image(linear-gradient(#23a8d4, #1380b8));
      @include border-top-left-radius(5px);
      @include user-select(none);
      > .title {
        position:absolute;
        left:0;
        top:0;
        right:0;
        font-family:"SignikaSemibold";
        text-align:center;
        color:#f2f2f2;
        font-size:18px;
        line-height:2.6em;
        @include text-shadow(0 1px 2px rgba(0,0,0,0.6));
      }
      button {
        width:51px;
        height:42px;
        margin:0;
        padding:0;
        padding-top:4px;
        padding-left:15px;
        background:none;
        border:0px;
        position:absolute;
        left:0;
        right:0;

        span {
          width:21px;
          display:block;
          margin:0;
          padding:0;
          background-color:#e7e6e2;
          margin-top:2px;
          margin-bottom:1px;
          height:3px;
          float:left;
          @include box-shadow(0px 1px 1px rgba(0,0,0,0.4));
          @include border-radius(3px);
          &:first-of-type {
            margin-top:0;
          }
        }
      }
    }
  }
  .scrollable {

    -webkit-overflow-scrolling : touch;
    overflow-y:auto;
    margin:0;
    padding:0px;
    position:absolute;
    top:45px;
    bottom:0;
    left:0;
    right:0;


    > .filters, > .badges {
      @include translate3d(0,0,0);
    }

    > .filters {
      width:100%;
      background-image: url(../images/omci/pattern/noise.png);
      background-color:#171717;
      border-bottom:1px solid rgb(80,80,80);
      padding:10px;
      @include box-sizing(border-box);

      > ul {
        margin:0;
        padding:0;
        @include display-box;
        @include box-orient(horizontal);
        @include box-align(stretch);
        width:100%;
        @include border-bottom-radius(5px);
        border-bottom:1px solid rgba(75,75,75,0.6);

        > li {
          list-style:none;
          @include box-flex(1);
          color:#b0aeab;
          font-family:"SignikaSemibold";
          text-align:center;
          border:1px solid #010101;
          border-left-width:0;
          border-right-width:0;
          padding:8px 0;
          @include background-image(linear-gradient(#444444, #383838));
          @include box-shadow(inset 0px 1px 1px rgba(0,0,0,0.3));
          text-shadow:0 -1px 2px rgba(0,0,0,0.7);

          &.active {
            color:#efece8;
            background:#1f1f1f;
          }


          &:first-of-type {
            @include border-left-radius(5px);
            border-left-width:1px;
          }

          &:last-of-type {
            @include border-right-radius(5px);
            border-right-width:1px;
          }
        }
      }
    }

    > .pull-to-refresh {
        height: 300px;
        width: 100%;
        position: absolute;
        left: 0;
        top: -300px;
        z-index: -1;
        @include background-image(url(../images/omci/pattern/noise.png), linear-gradient(#3e3e3e 30%, #171717 100%));
        border-bottom:1px solid #010101;
        color:#f1f1f1;

        > .loading, >.ok-refresh {
          display:none;
        }

        > .default {
          display:block;
        }

        > .loading, > .ok-refresh, > .default {
          position:absolute;
          bottom:0;
          left:0;
          right:0;
          text-align:center;
          font-size:15px;
        }

        &.drop-to-refresh {
          > .default, > .loading {
            display:none;
          }

          > .ok-refresh {
            display:block;
          }
        }

        &.loading {
          > .default, > .ok-refresh {
            display:none;
          }

          > .loading {
            display:block;
          }
        }
    }

    > .badges {
      margin:0;
      padding:10px;  
      min-height:100%;

      > li {
        width:100%;
        padding:10px 0 0 0;
        @include border-radius(5px);
        background-color:#faf9f7;
        margin:0 0 10px 0;
        @include box-sizing(border-box);
        border-top:1px solid #FFF;
        @include box-shadow(0 0 3px rgba(0,0,0,0.4));
        list-style:none;
        min-height:70px;
        overflow:hidden;
        position:relative;

        .test {
          width:30px;
          height:30px;
          background:url('../images/omci/test.png') no-repeat center center;
          background-size: contain;
          position:absolute;
          top:5px;
          right:5px;

        }

        > .infos {
          // @include border-bottom-radius(5px);
          // font-size:10px;
          border-top:1px solid #d1d1d1;
          @include background-image(linear-gradient(#FFF 0%, #f2f2f2 2%, #dcdcdc 100%));
          padding-left:10px;
          padding-right:10px;
          padding-top:5px;
          padding-bottom:5px;
          @include box-sizing(border-box);
          @include border-bottom-radius(5px);
          position:relative;

          > .progress {
            position:absolute;
            top:1px;
            bottom:1px;
            left:1px;
            width:0%;
            // @include background-image(linear-gradient(#deecc9 0%, #dae7c7 2%, #b7c99b 100%));
            @include background-image(linear-gradient(left, rgba(122, 186, 39, 0.2) 0%, rgba(122, 186, 39, 0.18) 70%, rgba(122, 186, 39, 0) 100%));
            @include border-bottom-left-radius(4px);
          }

          > .text {
            position:relative;
            z-index:2;
            text-align:right;
            > .number {
              font-size:15px;
              font-family:'SignikaSemibold';
              color:#554f48;
            }

            > .label {
              font-family: 'SignikaLight';
              font-size:10px;
              text-transform: uppercase;
              color:#68635d;
            }

            > .expect {
              font-size:14px;
              font-family:'SignikaSemibold';
              color:#766f67;
              float:right;
              margin-top: 2px;
              display:none;

              > small {
                margin-right:2px;
                font-size:9px;

              }
            }
          }
        }

        > .illustration {
          height:45px;
          width:45px;
          background-size:45px;
          display:inline-block;
          float:left;
          margin-left:10px;
        

        }

        > h4 {
          color:#645a5a;
          margin:0;
          padding:0;
          margin-left:70px;
          line-height:1.5em;
          font-family:"SignikaSemibold";
          font-weight:normal;
          font-size:16px;
          margin-right:10px;
        }

        > p {
          color:#8f877e;
          display:block;
          margin:0;
          padding:0;
          margin-left:70px;
          font-size:13px;
          min-height:30px;
          margin-bottom:10px;
          margin-right:10px;
        }
      }
    }
  }
