@import "compass/css3/user-interface";

#menu {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  @include user-select(none);
  background-color:#282f38;

  #menu-header {
    height:43px;
    border-top:1px solid #5f6673;
    border-bottom:1px solid #111b33;
    @include background-image(linear-gradient(#424a5a, #242b39));
    color:#e6eaf1;
    font-size:17px;
    line-height:2.7em;
    font-family:"SignikaSemibold";
    padding-left:10px;
    @include text-shadow(0 1px 2px rgba(0,0,0,0.6));


    .avatar {
      margin-top:6px;
      width: 31px;
      height: 31px;
      float: left;
      background-size: 31px;
      margin-right:10px;
      @include border-radius(5px);
      @include box-shadow(0px 0 3px rgba(0,0,0,0.6));
    }

  }
  h3 {
    border-bottom:1px solid #242a37;
    @include background-image(linear-gradient(#434a5e, #394052));
    margin:0;
    padding:10px;
    color:#9ca4b3;
    font-family:"SignikaSemibold";
    font-weight:normal;
    font-size:18px;
    @include text-shadow(0 1px 2px rgba(0,0,0,0.6));
  }

  


  ul {
    padding:0;
    margin:0;

    li {
      list-style:none;
      width:100%;
      border-top:1px solid #3e4555;
      border-bottom:1px solid #242a37;
      height:42px;
      background-color:#32394a;
      color:#c4ccda;
      font-size:17px;
      line-height:2.4em;
      padding-left:20px;
      position:relative;
      @include text-shadow(0 1px 2px rgba(0,0,0,0.6));

      &[data-badge]:after {
        content: attr(data-badge);
        position:absolute;
        right:15%;
        margin-right:30px;
        width:20px;
        height:20px;
        @include background-image(linear-gradient(#656d7e, #545b6d));
        @include border-radius(5px);
        @include box-shadow(0 0 3px rgba(0,0,0,0.7), inset 0px 1px 2px #7c8391);
        @include text-shadow(0px -1px 1px rgba(0,0,0,0.4));
        color: #bfc5d2;
        line-height: 1.6em;
        margin-top: 12px;
        font-size: 13px;
        text-align: center;

      }

      &.is-active {
        background-color:#2a303f;
      }
    }
  }
}