.DS_Store
/projects/ios/build/
/projects/ios/CordovaLib/build/
/projects/ios/cordova/console.log
/build/*
!/build/.gitkeep
/projects/android/bin/
/projects/android/gen/
Build
Logs
DerivedData
text-index.idx
.sass-cache
*.pyc

/projects/ios/OneMoreCheckIn.xcodeproj/project.xcworkspace/xcuserdata/raildecom.xcuserdatad/UserInterfaceState.xcuserstate
/projects/ios/DerivedData/OneMoreCheckIn/TextIndex/text-index.idx
/projects/ios/DerivedData/OneMoreCheckIn/Logs/Issues/Cache.db
/projects/ios/DerivedData/OneMoreCheckIn/Logs/Build/Cache.db
/omci.sublime-project
/omci.sublime-workspace
/projects/ios/DerivedData/OneMoreCheckIn/Index/Debug/iphonesimulator6.0-i386/OneMoreCheckIn.xcindex/db.xcindexdb.strings-sym
/projects/ios/DerivedData/OneMoreCheckIn/Index/Debug/iphonesimulator6.0-i386/OneMoreCheckIn.xcindex/db.xcindexdb.strings-res
/projects/ios/DerivedData/OneMoreCheckIn/Index/Debug/iphonesimulator6.0-i386/OneMoreCheckIn.xcindex/db.xcindexdb.strings-file
/projects/ios/DerivedData/OneMoreCheckIn/Index/Debug/iphonesimulator6.0-i386/OneMoreCheckIn.xcindex/db.xcindexdb.strings-dir
/projects/ios/DerivedData/OneMoreCheckIn/Index/Debug/iphonesimulator6.0-i386/OneMoreCheckIn.xcindex/db.xcindexdb-shm
/projects/ios/DerivedData/OneMoreCheckIn/Index/Debug/iphonesimulator6.0-i386/OneMoreCheckIn.xcindex/db.xcindexdb
/projects/ios/DerivedData/OneMoreCheckIn/scm.plist