.DS_Store
/projects/ios/build/
/projects/ios/CordovaLib/build/
/projects/ios/cordova/console.log
/build/*
!/build/.gitkeep
/projects/android/bin/
/projects/android/gen/
Build
Logs
DerivedData
text-index.idx
.sass-cache
*.pyc

/projects/ios/OneMoreCheckIn.xcodeproj/project.xcworkspace/xcuserdata/raildecom.xcuserdatad/UserInterfaceState.xcuserstate
/projects/ios/DerivedData/OneMoreCheckIn/TextIndex/text-index.idx
/projects/ios/DerivedData/OneMoreCheckIn/Logs/Issues/Cache.db
/projects/ios/DerivedData/OneMoreCheckIn/Logs/Build/Cache.db