/*
Syntax error: Undefined mixin 'background-image'.
        on line 16 of /Users/raildecom/workspace/webitup/omci/mobile-app/src/assets/scss/menu.scss, in `background-image'
        from line 16 of /Users/raildecom/workspace/webitup/omci/mobile-app/src/assets/scss/menu.scss

Backtrace:
/Users/raildecom/workspace/webitup/omci/mobile-app/src/assets/scss/menu.scss:16:in `background-image'
/Users/raildecom/workspace/webitup/omci/mobile-app/src/assets/scss/menu.scss:16
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:251:in `visit_mixin'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:318:in `visit_rule'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/tree/root_node.rb:20:in `render'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/engine.rb:315:in `_render'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.4/lib/sass/engine.rb:262:in `render'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/bin/compass:19:in `load'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/bin/compass:19:in `<main>'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/bin/ruby_noexec_wrapper:14:in `eval'
/Users/raildecom/.rvm/gems/ruby-1.9.3-p362/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'background-image'.\A         on line 16 of /Users/raildecom/workspace/webitup/omci/mobile-app/src/assets/scss/menu.scss, in `background-image'\A         from line 16 of /Users/raildecom/workspace/webitup/omci/mobile-app/src/assets/scss/menu.scss"; }
