<div id="menu">
  <div id="menu-header"></div>
  <ul>
    <li>
      <div class="avatar" style="background-image:url({{Omci.model.infos.user.avatar}})"></div>
      {{Omci.model.infos.user.firstName}} {{Omci.model.infos.user.lastName}}
    </li>
  </ul>
  <h3>Badges</h3>
  <ul>
    <li>Foursquare</li>
    <li>Cities</li>
    <li>Expertise</li>
    <li>Partner</li>
  </ul>
</div>

<div id="container">
  <div id="container-header"></div>
</div>